@import 'utils/variables';
@import 'components/type';

body{background: red;}

.link{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    background: skyblue;
}
